{% extends 'base.html' %}

{% block meta %}
<title>Welcome!</title>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: White;
  text-align: center;
}

p {
  font-vamily: verdana
  font-size: 20px;
}
</style>
{% endblock meta %}

{% block content %}
  <h1>Welcome</h1>
  <p>
    I welcome you to my web development blog. Join me as I develop 
    various apps and gain experience along the way. I sincerely 
    hope you will endjoy your stay.
  </p>
  <p>
    Best regards, <br/>
    Vronz
  </p>
{% endblock content %}